version: "3.4"

services:
  apigateway:
    image: traefik:v2.1
    ports:
      - "5080:80" # Port of the API Gateway, which will be the port behind which the system will be published
      - "5081:443" # https
      - "5088:8080" # Dashboard of Traefik for troubleshooting
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    labels:
      - "traefik.http.routers.http-catchall.rule=hostregexp(`{host:[a-z-.]+}`)"
      - "traefik.http.routers.http_catchall.entrypoints: web"
      - "traefik.http.routers.http_catchall.middlewares: https_redirect"
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme: https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent: true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events (see .env file for Windows workaround to make this work)
    networks:
      - mycouriernetwork

  users.api:
    image: ${DOCKER_REGISTRY-}usersapi
    build:
      context: .
      dockerfile: Services/Users/Users.Api/Dockerfile
    ports:
      - "7002:80"
      - "7003:443"
    depends_on:
      - usersdb
    networks:
      - mycouriernetwork
    labels:
      - "traefik.enable=true" # Enable publishing this service by Traefik
      - "traefik.http.routers.users.rule=PathPrefix(`/users`)" # Routing rule

  routes.api:
    image: ${DOCKER_REGISTRY-}routesapi
    build:
      context: .
      dockerfile: Services/Routes/Routes.Api/Dockerfile
    ports:
      - "7004:80"
      - "7005:443"
    depends_on:
      - routesdb
    networks:
      - mycouriernetwork
    labels:
      - "traefik.enable=true" # Enable publishing this service by Traefik
      - "traefik.http.routers.routes.rule=PathPrefix(`/routes`)" # Routing rule

  usersdb:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Password123UsersDb"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - mycouriernetwork

  routesdb:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Password123RoutesDb"
      ACCEPT_EULA: "Y"
    ports:
      - "1434:1433"
    networks:
      - mycouriernetwork

  mycourierweb:
    container_name: mycourierweb
    build:
      context: Clients/Web/mycourierweb
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    networks:
      - mycouriernetwork

networks:
  mycouriernetwork:
    driver: bridge
