version: "3.4"

services:
  apigateway:
    image: traefik:v2.1
    ports:
      - "5080:80" # Port of the API Gateway, which will be the port behind which the system will be published
      - "5081:443" # https
      - "5088:8080" # Dashboard of Traefik for troubleshooting
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    labels:
      - "traefik.http.routers.http-catchall.rule=hostregexp(`{host:[a-z-.]+}`)"
      - "traefik.http.routers.http_catchall.entrypoints: web"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events (see .env file for Windows workaround to make this work)
    networks:
      - mycouriernetwork

  users.api:
    image: ${DOCKER_REGISTRY-}usersapi
    build:
      context: .
      dockerfile: Services/Users/Users.Api/Dockerfile
    ports:
      - "7002:80"
      - "7003:443"
    depends_on:
      - usersdb
    networks:
      - mycouriernetwork
    labels:
      - "traefik.enable=true" # Enable publishing this service by Traefik
      - "traefik.http.routers.users.rule=PathPrefix(`/users`)" # Routing rule

  deliverables.api:
    image: ${DOCKER_REGISTRY-}deliverablesapi
    build:
      context: .
      dockerfile: Services/Deliverables/Deliverables.Api/Dockerfile
    ports:
      - "7004:80"
      - "7005:443"
    depends_on:
      - deliverablesdb
    networks:
      - mycouriernetwork
    labels:
      - "traefik.enable=true" # Enable publishing this service by Traefik
      - "traefik.http.routers.deliverables.rule=PathPrefix(`/deliverables`)" # Routing rule

  tracking.api:
    image: ${DOCKER_REGISTRY-}trackingapi
    build:
      context: .
      dockerfile: Services/Tracking/Tracking.Api/Dockerfile
    ports:
      - "7006:80"
      - "7007:443"
    networks:
      - mycouriernetwork
    labels:
      - "traefik.enable=true" # Enable publishing this service by Traefik
      - "traefik.http.routers.tracking.rule=PathPrefix(`/tracking`)" # Routing rule

  usersdb:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Password123UsersDb"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mycourier-users-data:/var/opt/mssql/usersdb
    networks:
      - mycouriernetwork

  deliverablesdb:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Password123DeliverablesDb"
      ACCEPT_EULA: "Y"
    ports:
      - "1434:1433"
    volumes:
      - mycourier-deliverables-data:/var/opt/mssql/deliverablesdb
    networks:
      - mycouriernetwork

volumes:
  mycourier-users-data:
    driver: local
  mycourier-deliverables-data:
    driver: local

networks:
  mycouriernetwork:
    driver: bridge


